@using myfinance_web_dotnet_o8.Domain
<h1>Listagem de transacoes financeiras</h1>

<br />

<a type="button" class="btn btn-primary mb-2" asp-area="" asp-controller="Transacao" asp-action="Cadastro">
    Registrar uma transacao
</a>

<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>Historico</td>
        <td>Tipo</td>
        <td>Valor</td>
        <td>Data</td>
        <td>#</td>
        <td>#</td>
    </tr>

    @{
        foreach (var item in (List<Transacao>)ViewBag.Lista)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Historico</td>
                <td>@item.PlanoConta.Tipo</td>
                <td>@item.Valor</td>
                <td>@item.Data</td>
                <td><button class="btn btn-warning" onclick="Editar(@item.Id)">Editar</button></td>
                <td><button class="btn btn-danger" onclick="Excluir(@item.Id)">Excluir</button></td>
            </tr>
        }
    }
</table>

<script>
    function Editar(id) {
        window.location.href = "../Transacao/Cadastro/" + id;
    }

    function Excluir(id) {
        window.location.href = "../Transacao/Excluir/" + id;
    }
</script>